<html>
    <head>
      <title>{% block title %}{% endblock %}</title>
      {% load bootstrap5 %}
      {% bootstrap_css %}
      {% bootstrap_javascript %}
    </head>
    <body>
    
    <div class="container">
        Editar producto
    <form method="POST">
        {% csrf_token %}
        numeroProducto<br>{{prod.numeroProducto}}<br>
        categoria<br>{{prod.categoria}}<br>
        nombre<br> {{prod.nombre}}<br>
        precio<br> {{prod.precio}}<br>
        descripcion <br>{{prod.descripcion}}<br><br>
        <a href="{% url 'administracion:home'%}">volver</a>
        <br>
        <a href="{% url 'administracion:editar_producto' prod.numeroProducto%}">editar</a>
    <form>
    
    </div>
    </body>
    </html>