<html>
    <head>
        <title>{% block title %}EasyMenu{% endblock %}</title>
      {% load bootstrap5 %}
      {% bootstrap_css %}
      {% bootstrap_javascript %}
    </head>
    <body>
    
    <div class="container">
        Editar producto
    <form method="POST">
        {% csrf_token %}
        numeroProducto<br>{{form.numeroProducto}}<br>
        categoria<br>{{form.categoria}}<br>
        nombre<br> {{form.nombre}}<br>
        precio<br> {{form.precio}}<br>
        descripcion <br>{{form.descripcion}}<br><br>
        <button type="submit" class="btn btn-success">Editar</button>
    <form>
    
    </div>
    </body>
    </html> 