<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}EasyMenu{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
  <div class="container mt-5 ">
    <h5>Borrar Orden n° {{ orden.numeroOrden }}</h5>
    <p>¿Estás seguro de que deseas borrar la siguiente orden?</p>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="orden_id" value="{{ orden.pk }}">
        <button type="submit" class="btn btn-danger" value="Borrar Orden">Eliminar</button>
    </form>
</body>
</html>