<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}EasyMenu{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
    <div class="container">
        <br><br>
        <h1>Órdenes</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Número</th>
                    <th scope="col">Fecha / Hora</th>
                    <th scope="col">Mesa</th>      
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for orden in ordenes %}
                <tr>
                    <td>{{ orden.numeroOrden }}</td>
                    <td>{{ orden.fecha }}</td>
                    <td>{{ orden.mesa }}</td>
                    <td>{{ orden.codigoEstado }}</td>
                    <td>
                        <a href="{% url 'pedidos:ver_orden' orden.numeroOrden %}">
                            <button class="btn btn-outline-primary">Ver</button>
                        </a>
                        <a href="{% url 'pedidos:actualizar_orden' orden.numeroOrden %}">
                            <button class="btn btn-outline-primary">Actualizar</button>
                        </a>
                        <a href="{% url 'pedidos:borrar_orden' orden.numeroOrden %}">
                            <button class="btn btn-outline-primary">Borrar</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>