<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}EasyMenu{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
  <div class="container">
    <br><br>
    <h1>Detalles de la Orden</h1>
    <br>
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Número de Orden:</strong> {{ orden.numeroOrden }}</li>
        <li class="list-group-item"><strong>Fecha:</strong> {{ orden.fecha }}</li>
        <li class="list-group-item"><strong>Mesa:</strong> {{ orden.mesa }}</li>
        <li class="list-group-item"><strong>Mesero:</strong> {{ orden.mesero }}</li>
        <li class="list-group-item"><strong>Código de Estado:</strong> {{ orden.codigoEstado }}</li>
        <li class="list-group-item"><strong>Productos:</strong></li>
    {% comment %} <ul> {% endcomment %}
      {% comment %} {% for producto in orden.productos %}
        <li>{{ producto }}</li>
      {% endfor %}
    </ul> {% endcomment %}
        <li class="list-group-item"><strong>Total:</strong> {{ orden.total }}</li>
      </ul>
    </div>
</body>
</html>